:root{
    /*Colores Referencia
    serán usados para usar el mismo color en diferentes medios que solo acepten colores en formato RGB, Hex, etc.*/
    --color-ref-1: 255,204,0;
    --color-ref-2: 255,255,255;
    --shadow-color-1: 0,0,0;

    /*Paleta Principal
    estos serán usados como los colores principales de la pagina, para su fácil modificación*/
    --fondo: #1c1c1c; /*Color de Fondo Principal*/
    --color-1: rgb(var(--color-ref-2)); /*Color #1*/
    --color-2: rgb(var(--color-ref-1)); /*Color #2*/
    --color-3: rgb(42, 42, 42); /*Color #3*/
    --color-4: var(--color-ref-1); /*Color #4*/

    --hashtag-color:rgb(0, 118, 228); /*color de Hashtag*/
}

body{
    background-color: var(--fondo);
    color: var(--color-1);
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    box-shadow: 0 2px 5 px rgba(var(--shadow-color-1), 0.2);
}

header h1{
    color: var(--color-2);
    margin: 0;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(var(--shadow-color-1),0.3);
}

header a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-2);
}

header p{
    margin: 10px 0 5px 0;
}

.hashtag {
    color: var(--hashtag-color);
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 15px;
}

content {
    display: block;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.units-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.unit-card{
    width: 400px;
    background-color: var(--color-3);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 3px 10px rgba(var(--shadow-color-1),0.3);
    border: 1px solid var(--color-3);
}

.unit-card:hover{
    border: 1px solid rgba(var(--color-4),0.2);
    box-shadow: 0 5px 15px rgba(var(--shadow-color-1), 0.4);
}

.unit-card h2{
    color: var(--color-2);
    margin: 0 0 20px 0;
    font-size: 1.8em;
    text-shadow: 1px 1px 2px rgba(var(--shadow-color-1),0.3);
}

.unit-card h2::after{
    content: ' ';
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--color-2);
    margin: 10px auto;
}

/*Clases Gestor de notas*/
.title-row{
    display: flex;
    justify-content: space-between;
}

button{
    display: auto;
    color: var(--color-1);
    background-color: rgba(var(--color-4),0.1);
    border-radius: 8px;
    border: 1px solid rgba(var(--color-ref-2),0.1);
    box-shadow: 0 3px 10px rgba(var(--shadow-color-1),0.2);
    font-weight: 700;
    font-size:larger;
    text-align: center;
    padding: 0px 20px;
    height: 50px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(var(--color-4),0.2);
    border-color: rgba(var(--color-4),0.5);
    color: var(--color-2);
    box-shadow: 0 3px 10px rgba(var(--shadow-color-1),0.3);
}

button:active{
    background-color: var(--color-3);
}

.note-cont{
    position: relative;
    width: 85%;
    display: solid;
    margin-top: 10px;
    background-color: rgb(55,55,55);
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: 0 3px 10px rgba(var(--shadow-color-1),0.3);
    border: 1px solid var(--color-3);
    justify-content: center;
    text-align: left;
}

.note-cont .note-header{
    border-bottom: 1px solid var(--color-3);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.btnOptions{
    color: var(--color-1);
    background-color: rgb(55,55,55);
    border-radius: 8px;
    border: 1px solid rgba(55,55,55,0.1);
    font-weight: 700;
    font-size:larger;
    text-align: center;
    padding: 0px 5px;
    height: 30px;
    cursor: pointer;
}

.btnOptions:hover{
    background-color: var(--color-3);
    border: 1px solid rgba(55,55,55,0.1);
    color: var(--color-1);
}

.btnOptions:active{
    background-color: rgb(70,70,70);
}

/*Clases Editor de notas*/

input{
    color: var(--color-3);
    padding: 10px;
    background-color: var(--color-1);
    border-radius: 8px;
    border: 1px solid rgba(var(--color-ref-2),0.1);
    box-shadow: 0 3px 10px rgba(var(--shadow-color-1),0.3);
    font-weight: 500;
    max-height: 15px;
}

textarea{
    color: var(--color-3);
    margin-top: 10px;
    background-color: var(--color-1);
    border-radius: 8px;
    border: 1px solid rgba(var(--color-ref-2),0.1);
    box-shadow: 0 3px 10px rgba(var(--shadow-color-1),0.3);
    font-weight: 500;
    width: 95%;
    max-width: 95%;
    min-width: 95%;

    min-height: 200px;
}

.input-row{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding:5px;
}

.button-row{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.button-row button{
    margin: 0px 3px;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: -20%;
  right: -450%;
  background-color: #333;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.dropdown button{
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0px 5px;
  text-align: left;
  font-size: medium;
  height: 35px;
}

.dropdown button:hover{
    background-color: var(--color-3);
    color: var(--color-1);
}

.dropdown button:active{
    background-color: rgb(70,70,70);
}

.hidden {
  display: none;
}







@media (max-width: 550px) {
   .input-row{
        display:block;
    }
}

@media (max-width: 768px) {
   .units-grid {
       grid-template-columns: 1fr;
       gap: 20px;
   }


   header h1 {
       font-size: 2em;
   }


   .unit-card {
       padding: 20px;
   }
}
